@import "tailwindcss";

:root {
  --text: #aaa;
  --middle: #555;
  --bg: #111;
  --bg25: repeating-conic-gradient(var(--text) 0% 25%, transparent 0% 100%) 1px 0.5px / 2px 2px;
  --bg50: repeating-conic-gradient(var(--text) 0% 25%, transparent 0% 50%, var(--text) 0% 75%, transparent 0% 100%) 1px 0.5px / 2px 2px;
  --bg75: repeating-conic-gradient(transparent 0% 25%, var(--text) 0% 100%) 1px 0.5px / 2px 2px;
  --bg25-i: repeating-conic-gradient(var(--bg) 0% 25%, transparent 0% 100%) 1px 0.5px / 2px 2px;
  --bg50-i: repeating-conic-gradient(var(--bg) 0% 25%, transparent 0% 50%, var(--bg) 0% 75%, transparent 0% 100%) 1px 0.5px / 2px 2px;
  --bg75-i: repeating-conic-gradient(transparent 0% 25%, var(--bg) 0% 100%) 1px 0.5px / 2px 2px;
  --max-width: 100vw;
}

@theme inline {
  --font-mono: 'Commit Mono', monospace;
  --color-text: var(--text);
  --color-middle: var(--middle);
  --color-bg: var(--bg);
}

::selection {
  color: var(--text);
  background-color: var(--middle);
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Commit Mono', monospace;
  font-size: 12px;
  line-height: 16px;
  min-height: 100vh;
  width: fit-content;
  min-width: 100vw;
}

@font-face {
  font-family: 'Commit Mono';
  src: url('/fonts/CommitMono-400-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

p, a, figcaption, button, label {
  font-size: 0.75rem;
  line-height: 1rem;
  width: fit-content;
  vertical-align: top;
  color: inherit;
}

a, button {
  background: transparent;
  border: none;
  color: var(--text);
  cursor: pointer;
  font-family: var(--font-commit-mono), monospace;
  padding: 0;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.24ch;
}

a:focus, button:focus {
  text-decoration: none;
}

:focus {
  text-decoration: none;
  color: var(--bg);
  background-color: var(--text);
  outline: none;
}

form input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--text);
  color: var(--text);
  border: none;
  width: 0;
  height: 0;
  opacity: 0;
  display: block;
  margin: 0;
}

form input[type="radio"] + label {
  cursor: pointer;
  display: inline-block;
  padding: 4px 8px;
}

form input[type="radio"]:focus:checked + label {
  background-color: var(--text);
  color: var(--bg);
}

form input[type="radio"]:checked + label {
  background: var(--bg25);
}

form input[type="radio"]:hover + label,
form input[type="radio"]:checked:hover + label {
  background: var(--bg75);
  color: var(--bg);
}

form input[type="radio"]:focus:hover + label {
  background: var(--text);
}

form input[type="radio"]:focus + label:active,
form input[type="radio"]:checked + label:active,
form input[type="radio"] + label:active {
  background: var(--bg50);
  color: var(--bg);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 1px;
  background: var(--text);
  cursor: pointer;
  margin-top: -6px;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background: var(--middle);
}

input[type="range"]::-moz-range-thumb {
  height: 14px;
  width: 1px;
  background: var(--text);
  cursor: pointer;
  border: none;
  margin-top: -6px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 1px;
  background: var(--middle);
}

.shake:focus,
.shake,
input:focus + .shake {
  animation: 200ms steps(1, jump-start) shake;
}
.shake_left:focus,
.shake_left,
input:focus + .shake_left {
  animation: 125ms steps(1, jump-start) shake_left;
}
.shake_right:focus,
.shake_right,
input:focus + .shake_right {
  animation: 125ms steps(1, jump-start) shake_right;
}
.shake_up:focus,
.shake_up,
input:focus + .shake_up {
  animation: 125ms steps(1, jump-start) shake_up;
}
.shake_down:focus,
.shake_down,
input:focus + .shake_down {
  animation: 125ms steps(1, jump-start) shake_down;
}

@keyframes shake {
  0% { transform: translate(0); }
  33% { transform: translate(0.125rem, 0.125rem); }
  67% { transform: translate(-0.125rem, -0.125rem); }
  100% { transform: translate(0); }
}
@keyframes shake_left {
  0% { transform: translateX(0); }
  50% { transform: translateX(-0.25rem); }
  100% { transform: translateX(0); }
}
@keyframes shake_right {
  0% { transform: translateX(0); }
  50% { transform: translateX(0.25rem); }
  100% { transform: translateX(0); }
}
@keyframes shake_up {
  0% { transform: translateY(0); }
  50% { transform: translateY(-0.25rem); }
  100% { transform: translateY(0); }
}

@media (max-width: 1000px) {
  main {
    padding: 4rem 2ch 0 2ch !important;
  }
  header nav {
    padding: 1rem 2ch 0 2ch !important;
  }
}

